button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.black-bg {
    background: $dark-black;
    a {
        color: #fff;
    }
    a:hover {
        color: $light-black;
    }
}
.purple-bg {
    background: $dark-purple;
    a {
        color: #fff;
    }
    a:hover {
        color: $light-purple;
    }
}
//MY COLORS
.bg-dark-blue {
    background: $dark-blue;
}
.bg-light-blue {
    background: $light-blue;
}
.bg-dark-red {
    background: $dark-red;
}
.bg-light-red {
    background: $light-red;
}
.bg-dark-yellow {
    background: $dark-yellow;
}
.bg-light-yellow {
    background: $light-yellow;
}
.bg-dark-green {
    background: $dark-green;
}
.bg-light-green {
    background: $light-green;
}
/*********************************************************/

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none !important;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#navbar{
    ul{
       li a.active{
            color:$light-black!important;
        :hover{
            color:$light-black!important;
        }
        }
    }
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $dark-black;
    color: #fff;
    transition: all 0.3s;
    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid $light-black;
    }
    ul {
        p {
            color: #fff;
            padding: 10px;
        }
        li a{
            color: #fff;
            padding: 10px;
            font-size: 1.1em;
            display: block;
            border-right: 3px solid $dark-black;
            
        }
        li a:hover {
            color: $dark-green;
            border-right: 3px solid $dark-green;
            cursor: pointer;
        }
        li a.active{
            color:$dark-green;
        }
    }
    ul.collapse {
        .link {
            background: $light-black;
        }
        .link:hover {
            color: $light-purple;
        }
    }

    .sidebar-header {
        padding: 9px;
        background: $dark-black;
        h3{
            color:#fff;
        }
    }

    .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
table{
    border:1px solid $dark-black;
    background: #fff;
    thead{    
        background: $dark-black;
        color:$dark-green;
    }
}

/* ---------------------------------------------------
    BREAD CRUMB
----------------------------------------------------- */
.bread-crumb{
    margin-bottom: 10px;
    width:100%;
    height:60px;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

/* Style the list */
ul.breadcrumb {
    margin-bottom: 0;
    line-height:40px;
    list-style: none;
    background: none;
}
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before{
    padding: 2px;
    color: $dark-black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: $light-blue;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: $dark-blue;
    text-decoration: underline;
  }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80 !important;
        li{
            span {
                display: block;
                font-size: 0.8em;
                overflow: visible;
            }
        }
        .sidebar-header {
            padding: 7px;
            strong {
                display: block;
            }
            h3 {
                display: none;
            }
        }
    }
}
